body{
  background-color : #F3EEEA;
}

body *{
  color : #776B5D;
  font-family : "retro", sans-serif;
                                                  
}

#projects *{
  color : #776B5D;
}

.custom-container{
    display : flex;
    align-items : center;
    flex-direction : column;
    background-color : #F3EEEA;
    scale : 80%;
}

@font-face {
    font-family: "retro";
    src: url("./Retro\ Gaming.ttf");
}


.menu{
  background-color : #EBE3D5;
  width : 1000px;
}

.menu a{
  font-size : 1.3rem;
}

.main *{
  font-size : 1.4rem;
}

.main h1{
  font-size : 2.5rem;
}

.main a{
  font-size : 2rem;
}

.expand-button{
  margin-top : 50px;
}

.custom-hr{
    margin: 0 auto;
    border: 0;
    height: 3px;
    background-color: black; 
}

.gradient-background {
    background: linear-gradient(300deg, #aca9a7, #787575, #aca8a7);
    background-size: 180% 180%;
    animation: gradient-animation 20s ease infinite;
    color : white;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  


.btn{
  color : #EBE3D5;
  height : 50px;
  width : auto;
  padding-top : 12px;
}

.guide{
    list-style : none;
}

.guide > li > a{
  text-decoration : none;
}


#root .button{
  cursor : pointer;
  transition : opacity 0.3s;
}

.button:hover{
  opacity : 0.8
}

.collapse{
  background-color: red;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 10s ease;
}


#root .record{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items: center;
}

#root .recordCard {
  background-color : #525252;
  height : 200px;
  width : 200px;
  border-radius : 50%;
  display : flex;
  justify-content: center;
  align-items: center;
}

#root .recordCard img{
  height : 70%;
  width : 70%;
  border-radius : 50%;
  animation : 10s linear 1s infinite normal none running spinRecord;
}

#root .buttons{
  display : flex;
  flex-direction : row;
}

@keyframes spinRecord {
  0%{
    transform : rotate(0);
  }
  100%{
    transform : rotate(360deg);
  }
  
}

h1{
  font-size : 1.5rem;
}

h2{
  font-size : 1.2rem;
}

h3{
  font-size : 1rem;
}

.time > h3{
  font-size : 1.7rem;
}

.content{
  padding : 50px;
  padding-left : 40px;
  padding-right : 40px;
  background-color: #EBE3D5;
}

.languages{
  display : flex;
  justify-content: space-between;
  padding-left : 50px;
  padding-right : 100px;
}


.prog{
  display : grid;
  grid-template-columns: repeat(3, 1fr);
  gap : 20px;
  margin : 50px auto;
}

.prog li{
  list-style-type : none;
}

.speak{
  background-color: #EBE3D5;
  width : 300px;
  padding : 30px;
}

.speak li {
  list-style-type: none; /* To remove default list-style-type */
  padding-left: 20px; /* Add some padding to the left to make room for the image */
  line-height: 16px; /* Adjust the line height to vertically align the text */
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Align items vertically center */
  margin-bottom: 5px; /* Add some margin between list items */
}

.speak .english::before {
  content: ""; /* Required for the ::before pseudo-element to generate content */
  display: inline-block; /* Make the pseudo-element inline-block */
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  background-image: url('/images/uk.png'); /* Set the background image */
  background-size: cover; /* Adjust as needed: cover, contain, or specific dimensions */
  margin-right: 5px; /* Optional: Add some space between the image and the text */
}

.speak .chinese::before {
  content: ""; /* Required for the ::before pseudo-element to generate content */
  display: inline-block; /* Make the pseudo-element inline-block */
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  background-image: url('/images/china.png'); /* Set the background image */
  background-size: cover; /* Adjust as needed: cover, contain, or specific dimensions */
  margin-right: 5px; /* Optional: Add some space between the image and the text */
}

.speak .malay::before {
  content: ""; /* Required for the ::before pseudo-element to generate content */
  display: inline-block; /* Make the pseudo-element inline-block */
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  background-image: url('/images/malaysia.png'); /* Set the background image */
  background-size: cover; /* Adjust as needed: cover, contain, or specific dimensions */
  margin-right: 5px; /* Optional: Add some space between the image and the text */
}

.speak .japanese::before {
  content: ""; /* Required for the ::before pseudo-element to generate content */
  display: inline-block; /* Make the pseudo-element inline-block */
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  background-image: url('/images/japan.png'); /* Set the background image */
  background-size: cover; /* Adjust as needed: cover, contain, or specific dimensions */
  margin-right: 5px; /* Optional: Add some space between the image and the text */
}

.frontend img{
  width : 30px;
  height : 30px;
}

.prog_lang {
  margin-bottom: 20px; /* Add margin as needed */
  margin-left : 20px;
  margin-right : 20px;
  background-color: #EBE3D5;
  padding : 20px;
}

.prog_lang .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add margin as needed */
}

.prog_lang .title span {
  margin-right: 10px; /* Adjust the margin as needed */
}

.prog_lang .title img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}

.prog_lang .title h3 {
  margin: 0;
}

.prog_lang ul {
  list-style-type: none;
  padding: 0;
}

.prog_lang ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.prog_lang ul li span {
  margin-right: 10px; /* Adjust the margin as needed */
}

.prog_lang ul li img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}


.cardgrid {
  display: grid;
  grid-template-columns : 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(18rem, 1fr)); /* Adjust column size as needed */
  gap: 50px;
  place-items:center;
}

.card{
  min-width : 200px;
  min-height : 400px;
}

.grid-container{
  display: flex;
  justify-content: space-between;
}

.perth{
  font-weight : bold;
  color : #D99E30;
}

.grid-item a{
  text-decoration: none;
}

.grid-item img{
  height : 30px;
  width : 30px;
}

.socials{
  display : flex;
  justify-content: space-between;
  gap : 50px;
}

.uni{
  font-weight : bold;
  color : #779ecb;
}

/* CSS adjustments for smaller screens */

/* Desktop */


@media (max-width: 1600px) and (min-width : 430px) {

  .custom-container {
      scale : 60%;
      margin-top : -200px;
      margin-bottom : -200px;
      width : 1000px;
  }

}


.custom-container {
  scale : 60%;
  margin-top : -220px;
  width : 1000px;
}

#skills h3{
  color : #D99E30
}

#skills .bottom{
  color : #779ecb;
}

.certification{
  color : #56AE57;
}

.resume{
  font-size : 1.2rem;
}

.footers{
  font-size : 1.3rem;
}

@media (min-width : 1600px){
  .alic{
    padding-left : 100px;
    padding-right : 100px;
  }

    .custom-container {
      margin-bottom : -200px;
      width : 1000px;
  }

  .menu{
    scale : 110%;
    margin-top : 100px;
  }

}

/* Phone */ 
@media (max-width : 430px){

  .custom-container{
    margin-left : 230px;
    width : 50%;
  }

  .content, .speak {
    transform : scale(0.9);
  }

  .speak{
    margin-bottom : 50px;
  }

  .menu{
    width : 500px;
    margin-left : -400px;
  }

  .languages{
    display : flex;
    justify-content : space-between;
    flex-direction : column;
  }

  .prog{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    gap : 5px;
    transform : scale(0.8);
    margin-left : -50px;
  }

  #skills{
    text-align : center;
    padding : 50px 0;
  }

  .languages{
    margin-left: -50px;
  }

  .grid-item img{
    height : 20px;
    width : 20px;
  }


  .socials{
    display : grid;
    grid-template-columns : 1fr 1fr;
    gap : 40px;
    place-items: center;
  }

  .twitter{
    display : none;
  }

  /* Add this CSS to your stylesheet */


  .cardgrid {
    display: grid;
    grid-template-columns : 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr)); /* Adjust column size as needed */
    gap: 50px;
    place-items:center;
    transform : scale(0.8);
    margin-left : -50px;
  }  

  .card-description li{
    display : none !important; 
  }

  body{
    overflow-x : hidden;
  }


}

